<app-navbar></app-navbar>

<div class="container mt-4">
  <h2>My Profile</h2>

  <div class="d-flex align-items-center mb-4">
    <img
      [src]="profile.image"
      class="rounded-circle me-3"
      width="100"
      height="100"
    />
    <label class="btn btn-outline-primary">
      Change Photo
      <input type="file" hidden (change)="changeProfileImage($event)" />
    </label>

    <img
      [src]="profile.image"
      class="rounded-circle me-3"
      width="100"
      height="100"
    />
    <label class="btn btn-outline-primary">
      Change Rep Image
      <input type="file" hidden (change)="changeRepImage($event)" />
    </label>
  </div>

  <form *ngIf="editMode; else viewMode" [formGroup]="form">
    <div class="row g-3">
      <div class="col-md-6">
        <label>First Name</label>
        <input formControlName="firstName" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Last Name</label>
        <input formControlName="lastName" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Email</label>
        <input formControlName="email" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Phone</label>
        <input formControlName="phone" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>EDB</label>
        <input formControlName="edb" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Company Name</label>
        <input formControlName="compName" class="form-control" />
      </div>
      <div class="col-md-12">
        <label>Address</label>
        <input formControlName="address" class="form-control" />
      </div>
      <div class="col-md-12">
        <label>City</label>
        <input formControlName="city" class="form-control" />
      </div>
    </div>
    <div class="mt-4">
      <button
        class="btn btn-primary me-2"
        (click)="saveProfile()"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button class="btn btn-secondary" (click)="toggleEdit()">Cancel</button>
    </div>
  </form>

  <ng-template #viewMode>
    <dl class="row">
      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">{{ profile.firstName }} {{ profile.lastName }}</dd>

      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9">{{ profile.email }}</dd>

      <dt class="col-sm-3">Phone</dt>
      <dd class="col-sm-9">{{ profile.phone }}</dd>

      <dt class="col-sm-3">EDB</dt>
      <dd class="col-sm-9">{{ profile.edb }}</dd>

      <dt class="col-sm-3">Company</dt>
      <dd class="col-sm-9">{{ profile.compName }}</dd>

      <dt class="col-sm-3">Address</dt>
      <dt class="col-sm-3">{{ profile.address }}</dt>
    </dl>
    <button class="btn btn-outline-primary" (click)="toggleEdit()">
      Edit Details
    </button>
  </ng-template>
</div>
