<app-navbar></app-navbar>

<div class="container mt-4">
  <h1 class="mb-4">Here is your dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Your Current Orders</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order Date</th>
            <th>Order Sum</th>
            <th>Order Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; trackBy: trackByOrder">
            <td>{{ order.ord_date | date: "shortDate" }}</td>
            <td>{{ order.ord_sum | currency }}</td>
            <td>{{ order.ord_comment }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h2>Your Current Deliveries</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Delivery Date</th>
            <th>Driver Name</th>
            <th>Delivery Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let del of deliveries; trackBy: trackByDelivery">
            <td>{{ del.del_date | date: "shortDate" }}</td>
            <td>{{ del.driverName }}</td>
            <td>{{ del.d_status_id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
